{% extends 'shop/base.html' %}

{{ title }}
{% block content %}
    <!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store products -->
                <div class="row">
                    {% if cat_goods %}
                    {% for product in cat_goods %}
                    <div class="col-md-4 col-xs-6">
                        <div class="product">
                            <div class="product-img">
                                <img src="{{ product.photo.url }}" alt="" width='263' height='263'>
                                <div class="product-label">
                                    <span class="new">НОВОЕ</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <h3 class="product-name"><a href="{% url 'product_page' product.slug %}">{{ product.title }}</a></h3>
                                <h4 class="product-price">{{ product.price }}</h4>
                            </div>
                            {% if request.user.is_authenticated %}
                            <form method="post" action="{% url 'add_to_cart' product.slug %}">
                                {% csrf_token %}
                                <div class="add-to-cart">
                                    {{ quantity_form.quantity }}
                                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Добавить в корзину</button>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div style="padding-bottom: 45%;">
                        <center>
                        <h1> Товары не найдены </h1>
                        </center>
                    </div>
                    {% endif %}
                </div>
                <!-- /store products -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
{% endblock %}